doctype html
html(lang='en')
  head

    |     
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Mini Google
  body
    img(src='upload_file.png', height='150px')
    style.
      body{
      font-family: Arial;
      }
      div.container{
      display: flex;
      flex-wrap:wrap;
      width: 40%;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      border: solid 2px;
      clear: both;
      }
      input[type = text], input[type = checkbox]{
      display: list-item;
      padding: 7px 7px;
      margin: 8px 10;
      }
      input[type=submit] {
      background-color: #0468aa;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: solid 2px black;
      border-radius: 4px;
      cursor: pointer;
      clear: both;
      }
      input[type=submit]:hover {
      background-color: #eed709;
      }
      p{
      display: none;
      }
      img{
      position: relative;
      left: 30px;
      margin: 20px;
      }
      a{
      text-decoration: none
      }
    |   
    |   
    hr
    |      
    .container
      form(action='/query', method='GET', enctype='multipart/form-data')
        fieldset
          legend Search
          |             
          label  Query term(in title)
          |             
          input#QueryTerm(type='text', name='term')
          |             
          label  case sensitive
          |             
          input#sensitive(type='checkbox', name='sensitive')
          |             
          label  whole world
          |             
          input#world(type='checkbox', name='wholeWorld')
        |         
        input(type='submit', value='Submit', name='getData')
      |     

      ol
        each comic in comics

         a(href=comic.URL)
          li=comic.title

      |  
      |     
      p Your case insensitive search for 
      |     
      p Your case sensitive search for 